@charset "utf-8";
@import url('variables.css');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;

  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Ocultar los botones de aumento y disminución */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body{
  background: var(--background);
  color: var(--foreground);
}

body::-webkit-scrollbar {
  background: var(--background);
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 500px;
}

body.dark::-webkit-scrollbar {
  background: #000000;
  width: 6px;
}
body.dark::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 500px;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.button__main {
  background: rgb(120, 38, 231);
  background: linear-gradient(
    90deg,
    rgba(120, 38, 231, 1) 0%,
    rgba(200, 38, 231, 1) 100%
  );
  color: #ffffff;
  padding: 20px 40px;
  display: block;
  width: max-content;
  border-radius: 50px;
  font-size: 16px;
}

.button__text {
  width: max-content;
  background: #7826e7;
  background: linear-gradient(
    90deg,
    rgba(120, 38, 231, 1) 0%,
    rgba(200, 38, 231, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 14px;
  font-weight: 600;
}

body.dark .button__text {
  background: #7826e7;
  background: linear-gradient(
    90deg,
    rgb(170, 0, 255) 0%,
    rgb(231, 11, 234) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.button__text svg {
  width: 22px;
  transform: translate(0, 5px);
  fill: #7826e7;
  transition: 0.3s;
}

body.dark .button__text svg {
  fill: rgb(170, 0, 255);
}

.button__text:hover svg {
  transform: translate(5px, 5px);
}


.title {
  transition: 0.3s;
  font-size: 54px;
  pointer-events: none;
}

.title span {
  background: rgb(120, 38, 231);
  background: linear-gradient(
    90deg,
    rgba(120, 38, 231, 1) 0%,
    rgba(200, 38, 231, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 400;
}

.title2{
  font-size: 82px;
  font-weight: 300;
  opacity: .9;
}

.title2 span {
  position: relative;
  z-index: 1;
  font-weight: 700;
  background: #7826e7;
  background: linear-gradient(
    90deg,
    rgba(120, 38, 231, 1) 0%,
    rgba(200, 38, 231, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 124px;
}

.question__container,
.list__container {
  padding-right: 6em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question,
.list__title {
  /* max-width: 80%; */
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.description,
.list li {
  line-height: 1.4;
  font-size: 20px;
  font-weight: 400;
  border-radius: 30px;
  transition: 0.3s;
}

.list li {
  margin-bottom: 15px;
}

.list li span {
  color: #7826e7;
  font-weight: 900;
}

body.dark .description,
body.dark .list li {
  color: #c4c4c4;
}


video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.relleno {
  height: 200vh;
}

.bg__black {
  background: #000;
}


.logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Esta clase se aplica al body para desactivar el scroll */
.no-scroll {
  overflow: hidden;
}