.software {
  height: 100vh;
}

.software__pinbox {
  position: relative;
  overflow: hidden;
  height: 200vh;
  width: 100%;
  display: flex;
  padding: 6em 6em;
  /* align-items: center;  */
  justify-content: center;
  gap: 100px;
  transition: 0.8s;
  background: #ffffff;
}


.pinSection {
  width: 50%;
  height: 80vh;
  padding: 25px;
  border: 1px solid rgba(0,0,0,.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pinSection .imgs_z1 {
  height: 80%;
  width: 80%;
  position: absolute;
  z-index: 2;
}

.pinSection .imgs_z1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.pinSection .imgs_bg::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(25px);
  background: rgba(255,255,255,.5);
  z-index: 1;
}

.pinSection .pimg1,
.pinSection .bgimg1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 1;
}

.software__descriptions {
  width: 50%;
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
}


.software__descriptions h1,
.software__descriptions p {
  max-width: 600px;
}

.bg__black .software__descriptions p{
  color: rgb(214, 214, 214);
}

.sdescription {
  position: absolute;
display: flex;
flex-direction: column;
gap: 25px;
}

