
.software{
    background: #ffffff;
    height: max-content;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 6em 2%;
    display: flex;
  }
  
  .software .iMAC{
    position: sticky;
    width: 100%;
    height: auto;
    top: 10px;
    right: -45%;
    /* filter: drop-shadow(-25px -25px 25px rgba(0,0,0,.12)); */
  }
  
  .software__titles{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    /* background: #cfc5ff; */
    padding: 80px;
  }
  